
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  --heading-font: 'Montserrat', sans-serif;
  --paragraph-font: 'Montserrat', sans-serif;
  --primary-color: #00171f;
  --secondary-color: #003459;
  --accent-color: #007ea7;
}

body {
  background-color: var(--primary-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

p {
  font-family: var(--paragraph-font);
  font-size: 25px;
  color: var(--primary-color);
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.about-us-paragraph p {
  color: #fff;
  margin: 0 0; 
  max-width: 600px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-weight: bold;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

article {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 126, 167, 0.6);
  padding: 20px;
  color: #fff;
  width: 80%;
  text-align: center;
}

article img {
  float: right;
  margin-left: 20px;
}

header {
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  max-width: 100%;
  border: 2px solid #000;
  background-color: var(--accent-color);
  padding: 10px 20px;
}

header img {
  max-height: 120px;
}

header nav {
  display: flex;
}

header nav a {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 10px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: #000;
  border: 2px solid transparent;
  transition: background-color 0.3s ease, color 0.3s ease;
}

header nav a:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.history-section {
  background-color: var(--accent-color);
  color: white;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.history-content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
}

.adventures-section {
  text-align: center;
  margin-bottom: 20px;
  border: 2px solid #000;
  background-color: var(--secondary-color);
}

.adventures-container {
  display: flex;
  justify-content: space-between;
}

.adventures-container figure {
  flex: 0 1 calc(20% - 10px);
  margin-bottom: 20px;
}

.adventures-container figcaption {
  margin-top: 10px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

.adventures-container figure img {
  max-width: 100%;
  height: auto;
}

footer, .sociallinks {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 4px;
  background-color: #fff;
}

.sociallinks a {
  margin-left: 10px;
}

.sociallinks img {
  width: 30px; 
  height: auto;
}


#company-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px;
  height: 45%;
  margin-top: 5%;
}

#company-info .left {
  width: 50%;
  height: auto;
  padding: 20px;
  background-color: var(--secondary-color);
}

#company-info .left h2 {
  font-size: 24px; 
  color: #fff; 
}

#company-info .left address,
#company-info .left p {
  font-size: 18px; 
  color: #fff;
}


#company-info .right {
  width: 45%;
}

#employee-profiles {
  background-color: var(--secondary-color);
  color: #fff;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

#employee-profiles h2 {
  margin-bottom: 20px;
}

.employee {
  display: inline-block;
  width: 20rem; 
  height: auto;
  margin: 0 2%;
  text-align: center;
}

.employee figure {
  margin: 0;
}

.employee img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.employee figcaption {
  margin-top: 10px;
  font-size: 18px;
}

#contact-form {
  text-align: center;
  margin: 20px auto;
  max-width: 600px;
}

#contactForm {
  display: grid;
  gap: 10px;
  text-align: left;
}

#contactForm .question {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding: 15px;
}

#contactForm label {
  font-size: 18px;
  color: #fff;
}

#contactForm input[type="text"],
#contactForm input[type="email"],
#contactForm textarea {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#contactForm .radio-options {
  display: flex;
  align-items: center;
}

#contactForm input[type="radio"],
#contactForm input[type="checkbox"] {
  margin-right: 10px;
}

#contactForm button {
  background-color: var(--accent-color);
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

#contactForm button:hover {
  background-color: #005e82;
}

#contact-page {
  position: relative;
  padding-top: 30px;
}

#contact-page h1 {
  position: absolute;
  top: 2.5%;
  left: 50%;
  text-align: center;
  color: #fff;
  font-family: var(--heading-font);
  margin-top: 0;
}

/* here starts the TRIPS page styling */

#trips h1 {
  text-align: center;
  color: #fff;
  font-family: var(--heading-font);
}

#cover {
  position: relative;
  text-align: center;
  background-color: var(--secondary-color);
  padding: 0px;
  margin-top: 0px;
}

#cover img {
  width: 100%;
  height: 100%;
}

.trips-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--secondary-color);
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 40px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
  font-family: var(--heading-font);
  font-weight: bold;
}

.trips-button:hover {
  background-color: #005e82;
}


#perfect-adventure {
  text-align: center;
  padding: 20px;
  margin-top: 25px;
  background-color: var(--secondary-color);
}

#perfect-adventure h2 {
  color: #fff;
  margin-bottom: 20px;
}

#perfect-adventure .trip {
  width: 30%;
  margin: 0 1%;
  text-align: center;
  vertical-align: top;
  display: inline-block;
}

#perfect-adventure .trip img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.trip {
  display: inline-block;
  width: 30%;
  margin: 0 1%;
}

.trip img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.trip label {
  display: block;
  margin-top: 10px;
  font-size: 20px;
  color: #fff;
}

.trip p {
  font-size: 16px;
  color: #fff;
}

#trip-details {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 0;
  margin-top: 30px;
}

.trip-table,
.questions {
  flex: 1;
  padding: 20px;
  background-color: var(--secondary-color);
  color: #fff;
  margin-bottom: 20px;
}

.trip-table h2 {
  color: #fff;
  margin-bottom: 20px;
}

.trip-table table {
  width: 100%;
  border-collapse: collapse;
}

.trip-table th, .trip-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #fff;
}

.trip-table th {
  color: #fff;
}

.questions h2 {
  color: #fff;
  margin-bottom: 20px;
}

.trip-contact-button {
  display: inline-block;
  position: relative;
  background-color: var(--accent-color);
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
  margin-top: 20px; /* Adjust the top margin as needed */
}

.trip-contact-button:hover {
  background-color: #005e82;
}


#trips_title h1 {
  position: relative;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 0;
  color: #fff;
  font-size: 50px;
}


/* HOME PAGE CSS FROM HERE */

/* CSS for Home Page */

#hero {
  position: relative;
  text-align: center;
}

#hero img {
  width: 100%;
}

#hero h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 3em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#newsletter {
  text-align: center;
  background-color: var(--secondary-color);
  padding: 50px 0;
  color: #fff;
}

#newsletter h2 {
  margin-bottom: 20px;
}

#newsletter form {
  display: flex;
  justify-content: center;
  align-items: center;
}

#newsletter input[type="text"],
#newsletter input[type="email"] {
  width: 250px;
  padding: 10px;
  margin: 5px;
  font-size: 1em;
  border: 1px solid #fff;
  border-radius: 5px;
}

#newsletter button {
  background-color: var(--accent-color);
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
}

#cta {
  text-align: center;
  background-color: var(--primary-color);
  padding: 50px 0;
  color: #fff;
}

#cta h2 {
  margin-bottom: 20px;
}

#cta a {
  background-color: var(--accent-color);
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 1.5em;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

#cta a:hover {
  background-color: #005e82;
}

#purpose {
  text-align: center;
  padding: 50px 0;
  color: #fff;
}

#purpose h2 {
  margin-bottom: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-content: center;
}

.grid-item {
  background-color: var(--secondary-color);
  padding: 20px;
  border-radius: 5px;
}

.grid-item img {
  width: 100%;
  border-radius: 5px;
}

.grid-item h3 {
  margin-top: 20px;
  font-size: 1.5em;
}

.grid-item p {
  font-size: 1em;
  color: #fff;
}
