
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  --heading-font: 'Montserrat', sans-serif;
  --paragraph-font: 'Montserrat', sans-serif;
  --primary-color: #00171f;
  --secondary-color: #003459;
  --accent-color: #007ea7;
}

body {
  background-color: var(--primary-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: #fff;
}

p {
  font-family: var(--paragraph-font);
  font-size: 25px;
  color: var(--primary-color);
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

article {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 126, 167, 0.6);
  padding: 20px;
  color: #fff;
  width: 80%;
  text-align: center;
}

article img {
  float: right;
  margin-left: 20px;
}

header {
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  font-size: 30px;
  max-width: 100%;
  border: 2px solid #000;
  background-color: var(--accent-color);
}

header nav{
  display: flex;
}

header nav a{
  display: inline-block;
  border: 2px solid #000;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: #000;
}

header nav a:hover{
  background-color: var(--primary-color);
  color: #fff;
}

.history-section {
  background-color: var(--accent-color);
  color: white;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.history-content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
}

.adventures-section {
  text-align: center;
  margin-bottom: 20px;
  border: 2px solid #000;
  background-color: var(--secondary-color);
}

.adventures-container {
  display: flex;
  justify-content: space-between;
}

.adventures-container figure {
  flex: 0 1 calc(20% - 10px);
  margin-bottom: 20px;
}

.adventures-container figcaption {
  margin-top: 10px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

.adventures-container figure img {
  max-width: 100%;
  height: auto;
}

footer, .sociallinks {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 4px;
  background-color: #fff;
}

.sociallinks a {
  margin-left: 10px;
}

.sociallinks img {
  width: 30px; 
  height: auto;
}


#company-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px;
  height: 45%;
  margin-top: 5%;
}

#company-info .left {
  width: 50%;
  height: auto;
  padding: 20px;
  background-color: var(--secondary-color);
}

#company-info .left h2 {
  font-size: 24px; 
  color: #fff; 
}

#company-info .left address,
#company-info .left p {
  font-size: 18px; 
  color: #fff;
}


#company-info .right {
  width: 45%;
}

#employee-profiles {
  background-color: var(--secondary-color);
  color: #fff;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

#employee-profiles h2 {
  margin-bottom: 20px;
}

#employee-profiles .employee {
  display: inline-block;
  width: 20rem; 
  height: auto;
  margin: 0 2%;
  text-align: center;
}

#employee-profiles .employee img {
  max-width: 100%;
  height: 20rem;
  border-radius: 50%; 
}

#contact-form {
  text-align: center;
  margin: 20px auto;
  max-width: 600px;
}

#contactForm {
  display: grid;
  gap: 10px;
  text-align: left;
}

#contactForm .question {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding: 15px;
}

#contactForm label {
  font-size: 18px;
  color: #fff;
}

#contactForm input[type="text"],
#contactForm input[type="email"],
#contactForm textarea {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#contactForm .radio-options {
  display: flex;
  align-items: center;
}

#contactForm input[type="radio"],
#contactForm input[type="checkbox"] {
  margin-right: 10px;
}

#contactForm button {
  background-color: var(--accent-color);
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

#contactForm button:hover {
  background-color: #005e82;
}

#contact-page h1 {
  padding-bottom:200px;
  text-align: center;
  color: #fff;
  font-family: var(--heading-font);
  margin-top: 0;
}
